.echartDiv {
  width: 100%;
  height: 32rem;
}

body {
  background-color: blue;
}

.target-content {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  color: #eee;
  border-radius: 0.3em;
  // background-image:url('/img/res/border.png');
  // background-size: 100% 100%; 
  // background-repeat: no-repeat;
  // background-color: rgba(10, 32, 37, 0.4);
  background-color: rgba(10, 32, 37, 0.1);
  box-shadow: #3e3bec 0 0 0.4rem 0.2rem inset;
}

.target-header {
  text-align: left;
  height: 2.5rem;
  background-image: linear-gradient(to right, #0d0a7b, #2723ca);
  border-radius: 0em;
}

.target-container-h1 {
  height:calc(100vh - 6rem - 3.4rem);
}


.target-container-h2{
  height:calc((100vh - 6.2rem) / 2 - 2.5rem)
}

.target-container-h3{
  height:calc((100vh - 6rem) / 3 - 3.4rem)
}

.target-container-h4{
  height:calc((100vh - 6rem) / 4 - 3.4rem)
}

.target-container-h5 {
  height: calc((100vh - 6rem) / 5 - 3.4rem)
}

.target-container-h6 {
  height: calc((100vh - 6rem) / 6 - 3.4rem)
}

.target-container-h7 {
  height: calc((100vh - 6rem) / 7 - 3.4rem)
}

.target-container-h8 {
  height: calc((100vh - 6rem) / 8 - 3.4rem)
}

.target-container-h9 {
  height: calc((100vh - 6rem) / 8 - 3.4rem)
}

.target-title {
  background-image: radial-gradient(circle, #daeef3 20%, white);
  //background-image: radial-gradient(circle, #daeef3 20%, #00aaff);
  //color: white;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  margin-left: 1rem;
  padding-top:0.5rem;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.target-text {
  font-size: 1rem;
  color: #fff;
}

.target-value{
  color: #1AFD9BFF;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

#banner,.banner {
  width: 100%;
  //height: 4.5rem;
  background-image: url(/img/res/banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  display: inline-block;

  .banner-content {
    margin: 2rem 1rem;
    display: inline-block;
    width: auto
  }
}


.column-center {
  height: 100%;
  background-size: 100% 100%;
  margin-top:2rem;
}

.column-footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 20px;
  z-index: 9999;
  background-size: 100% 100%;
  margin: 0px 10px 0px 10px;
}

.main-rows {
  flex: 1;
  display: flex;
  flex-direction: row;

  .dv-border-box-1 {
    text-align: left;
    height: calc(100vh - 7rem);
    margin-bottom: 0.5rem;
  }

}

.flare-title{
  background-image: linear-gradient(to bottom,rgb(83, 78, 234), rgb(21, 6, 110));
  border-radius: 0.2rem;
  margin-top: 0.1rem;
  height: 2rem;
  font-family: 'LiSu';
  color:#ddd !important;
  font-weight: bold;
  text-align: 'left' !important;
  font-size: 1.2rem;
}
